

<h1>Ask what you want to the stupid coach</h1>

<div class= container>
<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="query">
  <input type="submit" value="Ask!">
</form>
</div>
